<div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-3">
  <div class="px-4 sm:px-0">
    <h2 class="text-base font-semibold leading-7 text-gray-900">Address information</h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">Address, state, city and postal code</p>
  </div>

  <div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
    <div class="px-4 py-6 sm:p-8">
      <div class="max-w-2xl space-y-10">
        <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <%= render "address_form", form: form %>
        </div>
      </div>
    </div>
  </div>
</div>